body{
  background: #151515;
  user-select: none;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #efefef;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #efefef;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px #c2c2c2;
	background-color: #dedede;
}

.App{
  background-image: url('backgrounds/1.jpg');
  width: 100%;
  height: 100%;
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.App::after{
  content: '';
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0,0,0,.2);
  top: 0px;
}

.apps{
  margin: 0px 30px;
  position: relative;
  z-index: 20;
  width: auto;
  height: auto;
  position: absolute;
}

.appD{
  position: relative;
  margin: 40px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 10;
  margin: 50px 0px;
  padding: 15px;
  padding-bottom: 30px;
  border: 1px dotted rgba(255,255,255, 0.0);
}

.appD:hover{
  background: rgba(255,255,255, 0.2);
  border: 1px dotted rgba(255,255,255, 0.7);
}

.appD .image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 20px 10px;
  position: relative;
  top: -20px;
  left: -10px;
}

.appD span{
  color: #efececd1;
  position: absolute;
  text-align: center;
  left: calc(70% - 15px);
  transform: translate(-50%);
  top: 70px;
}

.appD .transparent{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: transparent;
  margin: -13px -15px;
  z-index: 10;
}

.bottomBar{
  position: fixed;
  width: 100%;
  height: 45px;
  bottom: 0px;
  background: #2e2e2e;
  border-top: 1px solid rgba(0,0,0,.20);
  z-index: 90009;
}

.optionsBar{
  width: 70vh;
  height: calc(100% - 20vw);
  background: #2e2e2e;
  position: absolute;
  z-index: 900003;
  bottom: 46px;
  box-shadow: 1px 2px 1px rgba(0,0,0,.10);
  transform: translateX(-100%);
  transition: 0.4s ease;
  border-radius: 4px;
}

.optionsBar .applicationBar{
  box-shadow: 1px 2px 1px rgba(0,0,0,.10);
  background: rgba(255,255,255, 0.2);
  width: 67px;
  border-radius: 3px;
  height: calc(100% - 80px);
  position: relative;
  margin: 40px 20px;
}

.optionsBar .applicationBar .appD{
  margin: 0px  !important;
  transform: scale(0.7);
  padding: 0px !important;
  padding-bottom: 0px  !important;
  margin: 7px  !important;
}

.optionsBar .applicationBar .appD:hover{
  background: transparent !important;
  border: 1px dotted rgba(255,255,255, 0.0) !important;
}

.optionsBar .applicationBar .appD span{
  position: absolute;
  top: 9px;
  left: 70px;
  background: rgba(0,0,0,.80);
  padding: 4px;
  transform: scale(0);
  transition: 0.4s;
  width: fit-content;
  max-width: 200px;
}

.optionsBar .applicationBar .appD span::after{
  content: '';
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-right: 10px solid rgba(0,0,0,.80);
  position: absolute;
  left: -9px;
}

.focus{
  transform: scale(1) !important;
}

.appLogo{
  position: relative;
  width: 55px;
  height: 45px;
  background: #92b37252;
  cursor: pointer;
  transition: 0.4s ease;
}

.appLogo img{
  width: 100%;
  height: 100%;
  transform: scale(0.6);
  transition: 0.4s ease;
  object-fit: cover;
}

.appLogoAtivo{
  background: #92b372;
}

.appLogoAtivo img{
  transform: scale(0.7);
}

.abertoFocus{
  transform: translateX(0);
}

.demoPort{
  position: absolute;
  bottom: 65px;
  right: 40px;
  color: rgba(255,255,255, 0.4);
}

.appL{
  position: absolute;
  z-index: 90;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 15%) scale(0);
  width: 60vh;
  height: auto;
  background: #d6d6d6;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0,0,0,.20);
  transition: 0.4s;
  padding-bottom: 4vh;
}

.appDesktop{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.05);
  position: relative;
  top: 25px;
  padding-bottom: 8vh;
}

.appL .header{
  position: absolute;
  width: 100%;
  height: 40px;
  top: 0px;
  left: 0px;
  display: flex;
  background: linear-gradient(0deg, rgba(214,214,214,1) 0%, rgba(213,202,202,1) 100%);
}

.appL .header span{
  position: relative;
  text-align: center;
  left: 43%;
  margin: 7px 0px;
  font-weight: bold;
  color: rgb(59, 55, 55);
}

.appL .header .right{
  position: absolute;
  right: 15px;
  z-index: 15;
}

.appL .header .right button{
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: rgb(75, 69, 69);
}

.appAberto{
  transform: translate(-50%, 15%) scale(1);
}

.appL .move{
  width: 100%;
  height: 100%;
  background: transparent;
  position: absolute;
  z-index: 10;
  cursor: move;
}

.avatar{
  width: 95px;
  height: 95px;
  position: relative;
  top: 30px;
  left: 30px;
}

.avatar img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.nameMe{
  position: relative;
  font-size: 18px;
  margin: 45px 30px;
}

.relativeApp{
  position: relative;
  transition: 0.1s;
}

.aboutMe p{
  position: relative;
  margin: -40px 30px;
}

.tec{
  padding: 4px;
  box-shadow: 1px 1px 2px rgba(0,0,0,.20);
}

.php{
  background: #8993c1;
}

.angular{
  background: rgb(195 0 47);
  color: #fff;
}

.vue{
  background: #00c180;
}

.react{
  background: #61dafb;
}

.nodejs{
  background: #90c53f;
}

.normal{
  background: #e0ecea;
  box-shadow: 1px 1px 2px rgba(0,0,0,.10);
}

.bottomBar .right{
  position: absolute;
  float: right;
  right: 0px;
  top: 0px;
}

.bottomBar .right .hours{
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  top: 12px;
  position: relative;
  right: 15px;
}

.fullScreen{
  width: calc(100% - 70px) !important;
  height: calc(100vh - 130px) !important;
  left: 0px !important;
  top: 0px !important;
  transform: translate(0px, 0px) !important;
}

.inlineApp{
  float: left;
  top: -45px;
  left: 55px;
  background: transparent;
  margin-left: 3px;
}

.mini{
  transform: scale(0) !important;
}

.isMini::after{
  content: '';
  width: 100%;
  height: 4px;
  background: #92b372;
  position: absolute;
  left: 0px;
  animation-name: scale;
  animation-duration: 0.4s;
}

@keyframes scale{
  0%{
    transform: scale(0);
  }
  1%{
    transform: scale(1);
  }
}

.appsSearch{
  position: absolute;
  left: 13vh;
  top: 40px;
}

.appsSearch input{
  width: 51vh;
  border: none;
  outline: none;
  background: rgba(255,255,255, 0.2);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #92b37252;
  color: #fff;
}

.appsSearch input::placeholder{
  color: rgba(255,255,255, 0.3);
}

.appsSearch input:focus{
  color: rgba(255,255,255, 0.7);
  border: 1px solid #92b372;
}

.allScreen{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  background: transparent;
  z-index: 5;
}

.calculator .numbers{
  width: 84%;
}

.calculator .numbers button{
  height: 5vh;
}

.calculator button{
  width: calc(33.3% - 10px);
  height: 3vh;
  border: none;
  outline: none;
  margin: 5px;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  top: 75px;
  left: 10px;
  cursor: pointer;
}

.calculator button:hover{
  background: rgba(0,0,0,.70);
  color: #fff;
}

.calculator .numbers .zero{
  left: 35.4%;
  position: relative;
}

.calculator .visor{
  width: 100%;
  position: relative;
  top: -20px;
}

.calculator .visor h1{
  padding: 5px;
  float: right;
  right: 1vh;
  position: absolute;
  top: 40px;
  font-size: 18px;
}

.calculator .visor h2{
  padding: 5px;
  float: right;
  right: 1vh;
  position: absolute;
  font-size: 16px;
  top: 15px;
}

.calculator .operacoes{
  position: absolute;
  left: 84%;
  top: 0px;
}

.calculator .operacoes button{
  width: 200%;
  position: relative;
  display: block;
}

.hoursScreen{
  position: fixed;
  left: 44%;
  color: rgba(255,255,255, 0.7);
  font-weight: bold;
  font-size: 400%;
  text-shadow: 1px 2px 1px rgba(0,0,0,.10);
}

.terminal{
  background: #151515;
  color: #fff;
  padding: 10px;
  height: 200px;
  width: calc(100% - 20px);
}

.Config{
  background: #fff;
  transition: 0.4s ease;
  height: auto;
}

.Config .list h2{
  font-size: 15px;
  padding: 8px;
  font-weight: normal;
}

.Config .list h2 img{
  width: 25px;
  position: relative;
  top: 4px;
}

.Config .list .item{
  width: 50px;
  max-width: 70px;
  height: auto;
  padding: 10px;
  margin-left: 10px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

.Config .list .item:hover{
  box-shadow: 3px 1px 2px rgba(0,0,0,.20);
}

.Config .list .item img{
  width: 100%;
  height: 100%;
}

.Config .list .item span{
  font-size: 12px;
  margin-left: -9px;
}

.Config .back{
  position: absolute;
  top: -35px;
  border-radius: 5px;
  background: linear-gradient(0deg, rgba(246,246,246,1) 0%, rgba(231,231,231,1) 53%, rgba(215,215,215,1) 91%);
  border: 1px solid #aeaeae;
  padding: 5px 10px 5px;
  z-index: 100;
  cursor: pointer;
}

.Config .back:hover{
  box-shadow: 1px 2px 1px rgba(0,0,0,.10);
}

.ConfigBackgrounds{
  background: #fff;
  overflow-y: auto;
  max-height: 42vh;
  position: relative;
  top: 5px;
  transform: scale(0.97);
  left: 0px;
  overflow-x: hidden;
}

.ConfigBackgrounds .item{
  cursor: pointer;
  height: 150px;
}

.ConfigBackgrounds .item:hover{
  box-shadow: 1px 2px 1px rgba(0,0,0,.10);
}

.ConfigBackgrounds .item img{
  width: 200px;
  object-fit: cover;
  margin: 30px;
  height: 100px;
}

.show{
  width: 100%;
  background: #fff;
  transition: 0.4s ease;
  position: relative;
}

.showed{
  transform: scale(1);
}

.notShow{
  transform: scale(0);
}

.selected{
  background: #92b37252;
}

.ConfigBackgrounds .item .right{
  position: relative;
  top: -130px;
  left: 240px;
}

.colorSolid{
  padding: 10px;
}

.colorSolid .se{
  margin: 10px;
}

.colorSolid .se span{
  margin: 10px;
}

.colorSolid .se input{
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  margin-top: 2px;
  top: 4px;
}